.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
} 
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
} 
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
} 
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
} 
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
} 
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
} 
.fairy {
    background-color: #f9aec7;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    color: white;
    background-color: #8c78db;
    border: none;
    border-radius: 0.5rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
}

.pokemon {
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .name {
    color: #dffffc;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .type {
    color: #dffffc;
    padding: .25rem .5rem;
    border-radius: .75rem;
    margin: 4px 0;
    font-size: .825rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .8rem;
}

.pokemon .detail img{
    max-width: 100%;
    height: 80px;
    align-self: flex-end;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.overlay-pokecontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close-pokeinfo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.overlay {
    /* ... other styles ... */
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.3s ease-in; /* Add a transition for opacity */
}

.overlay.show {
    display: block;
    opacity: 1; /* Change opacity to 1 when the overlay is shown */
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}